.chat_messages{
	border: solid 3px darkgray;
	padding: 5px;
	background-color:black;
	color: lime;
	overflow-y: scroll;
	height: 400px;
}
.chat_spanUser{
	color:#ff00ff;
}
.chat_spanTime{
	color:#00ffff;
}
.chat_send input{
	border: 0px;
	width: 100%;
	outline-width: 0px;
}
.chat_send{
	border: solid 2px orange;
	padding: 3px;
	margin-top: 3px;
}
.chat_err{
	color: red;
}